<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>

	    <section class="layout-content" layout:fragment="corpo">
	
	        <div class="container">
	
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseNome">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" th:action="@{/buscar/nome}">
	                                <input class="form-control mr-sm-2" type="search" placeholder="nome" aria-label="Search"
	                                       th:name="nome" />
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	            	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseNome">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" th:action="@{/buscar/cpf}">
	                                <input class="form-control mr-sm-2" type="search" placeholder="cpf" aria-label="Search"
	                                       th:name="nome" />
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>

	            </div>
	
	
	<main style="padding-top: 50px;">
	<table>
		<head>
		<th>Nome</th>
		<th>Cpf</th>
		<th>Data de Nascimento</th>
		<th>E-mail</th>
		<th>Sexo</th>
		<th>Estado Civil</th>
		<th>Ativo</th>
		
		</head>

		<tbody>
		<!--
			@{/convidado/{codigo}(codigo=${evento.codigo})}
			@{/{urlPagination}/{codigo}( urlPagination=${urlPagination}, codigo=${evento.codigo})}
		-->
			<tr th:each="user : ${users}">
				<td><span th:text="${user.nome}"></span></td>
				<td><span th:text="${user.cpf}"></span></td>
				<td><span th:date="${#dates.format(user.narcimento, 'dd/MM/yyyy')}"></span></td>
				<td><span th:text="${user.email}"></span></td>
				<td><span th:text="${user.sexo}"></span></td>
				<td><span th:text="${user.estadoCivil}"></span></td>
				<td><span th:text="${user.ativo}"></span></td>
				
				<td>
					<div class="btn-group pull-right">
						<a class="btn btn-sm btn-primary" th:href="@{/edit/{cpf}(cpf=${user.cpf})}" >Editar</a>
						<a class="delete btn btn-sm btn-danger" th:href="@{/delete/{cpf}(cpf=${user.cpf})}">Excluir</a>
					</div>
				</td>
			</tr>
		</tbody>
		</table>
	</main>

		<footer class="page-footer"
			style="padding-top: 20px; color: #fff; background-color: #42a5f5; border: 3px solid gainsboro; height: 91px; position: absolute; width: 100%; bottom: 0%;">
			<div class="container"
				style="padding-bottom: 20px; padding-top: 5px;">
				© 2018 Daniel Legal & IP Strategy
			</div>
		</footer>


		<!--JavaScript at end of body for optimized loading-->
		<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>		