<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Java Jr</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="../materialize/css/materialize.min.css" media="screen,projection" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="/stylesheet" href="../style/styleCss.css" />

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var availableTags = document.createElement();
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
</head>
<body>

<!-- DETALHES EVENTO -->


	<header>
		<nav class="menu" style="background-color:#90caf9;">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo" style="padding-left: 30px;">Detalhes do Usuário:</a>
			</div>

				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a class="waves-effect waves-light btn"
						href="../userCadastro"><i class="material-icons left">add_circle_outline</i>Cadastro</a></li>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a class="waves-effect waves-light btn"
						href="../"><i class="material-icons left">format_list_bulleted</i>Lista</a></li>
				</ul>
		</nav>



	</header>
	<main style="padding-top: 50px;">
	
 		
<!-- 			<main class="container"> -->
<!-- 				<table> -->
<!-- 					<h4 style=" margin-bottom: 40px;">Usuário:</h4> -->
<!-- 					<div class="row"> -->
					
<!-- 							<td><p>Nome: <span th:text="${user.nome}"></span></p></td> -->
<!-- 							<td><p>Cpf: <span th:text="${user.cpf}"></span></p></td> -->
<!-- 							<td><p>Data de Nascimento: <span th:date="${user.nascimento}"></span></p></td> -->
<!-- 							<td><p>E-mail: <span th:text="${user.email}"></span></p></td> -->
<!-- 							<td><p>Sexo: <span th:text="${user.sexo}"></span></p></td> -->
<!-- 							<td><p>Estado Civil: <span th:text="${user.estadoCivil}"></span></p></td> -->
<!-- 							<td><p>Ativo: <span th:text="${user.ativo}"></span></p></td> -->
<!-- 					</div> -->
<!-- 				</table> -->
<!-- 		</main> -->
		</br>
		<form class="container" method="post">
		<h3 style="text-align: center; margin-bottom: 40px;">Formulário de Edição</h3>
			<div class="row">
				<div class="input-field col s6">
					Nome: <input id="tags" type="text" th:value="${user.nome}"  name="nome" />
				</div>
				<div class="input-field col s3">
					Data de nascimento: <input id="tags" type="date" th:value="${user.nascimento}" name="nascimento" />
				</div>

				<div class="input-field col s3">
					E-mail: <input id="tags" type="text" th:value="${user.email}" name="email" />
				</div>
				<div class="input-field col s3">
					CPF: <input id="tags" type="text" th:value="${user.cpf}" name="cpf" />
				</div>
				
				<p>
				  <label>
				      <input class="with-gap" name="sexo" type="radio"  th:value="${user.sexo}"/>
				      <span>Feminino</span>
				    </label>
				  </p>
				 <p>
				    <label>
				      <input class="with-gap" name="sexo" type="radio"  th:value="${user.sexo}"/>
				      <span>Masculino</span>
				    </label>
				 </p>

			    <p>
			      <label>
			        <input type="checkbox" class="filled-in" checked="checked" name="ativo"  th:value="${user.ativo}"/>
			        <span>Ativo</span>
			      </label>
			    </p>
			    <div class="input-field col s12">
				    <select id="tags" name="estadoCivil">
				      <option value="" disabled selected>Escolha uma opção</option>
				      <option value="Solteiro">Solteiro(a)</option>
				      <option value="Casado">Casado(a)</option>
				      <option value="Viuvo">Viúvo(a)</option>
				    </select>
				    <label>Estado Civil</label>
			  	</div>

			</div>
			<button class="waves-effect waves-light btn" type="submit"><a href="#">Salvar</button>

		</form>
		</main>
		<br>
		
		

		<footer class="page-footer"
			style="padding-top: 20px; color: #fff; background-color: #42a5f5; border: 3px solid gainsboro; height: 91px; position: absolute; width: 100%; bottom: -500px;">
			<div class="container"
				style="padding-bottom: 20px; padding-top: 5px;">
				© 2018 Daniel Legal & IP Strategy
			</div>
		</footer>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  
	<script type="text/javascript">
		window.onload = function() {
			$(document).ready(function() {
				$('select').material_select();
			});
		}
		
	</script>
</body>
</html>